@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Times New Roman', sans-serif;
  @apply bg-gradient-to-r from-blue-950 via-blue-900 to-blue-950 text-white;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
